{% extends "asgard/layout.html" %}
{% load static %}
{% block body %}

<section class="">
    <div class="py-5 aboutus-header">
        <h1 class="m-0 px-3 text-center">About Us</h1>
    </div>

    <div class="row px-3 mx-0 my-5 about">
        <div class="col-md-4">
            <h1>Tortor Tellus Cras</h1>
            <div class="aboutus-divider mb-4"></div>
            <p>
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condi mentum nibh.
            </p>
        </div>
        <div class="col-md-4">
            <h1>Dolor Fusce Ligula</h1>
            <div class="aboutus-divider mb-4"></div>
            <p>
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condi mentum nibh.
            </p>
        </div>
        <div class="col-md-4">
            <h1>Inceptos Dolor Mollis</h1>
            <div class="aboutus-divider mb-4"></div>
            <p>
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condi mentum nibh.
            </p>
        </div>

        <div class="col-md-12 my-4 text-center">
            <h1 style="font-size: 27px;">Commodo Tellus</h1>
            <div class="col-12 mb-4 text-center aboutus-divider-middle"></div>
        </div>
        

        <div class="col-md-4 d-flex aboutus-bottom-container">
            <img src="{% static 'asgard/img/aboutus01.jpg' %}" alt="About Us" class="aboutus-img">
        </div>
        <div class="col-md-8 mt-5 ps-3 aboutus-bottom-container">
            <div class="mb-4">
                <h1>Condimentum Porta Aenean <i class="fas fa-redo-alt ps-3 font-icon"></i></h1>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.
                </p>
            </div>
            <div class="mb-4">
                <h1>Etiam Justo Ullamcorper <i class="fas fa-circle-notch ps-3 font-icon"></i></h1>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.
                </p>
            </div>
            <div class="mb-4">
                <h1>Inceptos Vulputate Fusce <i class="far fa-heart ps-3 font-icon"></i></h1>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.
                </p>
            </div>
            <div>
                <h1>Dapibus Mattis Parturient <i class="far fa-star ps-3 font-icon"></i></h1>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.
                </p>
            </div>
        </div>
    </div>

</section>
{% endblock %}